################################################################
### Note: If you use this file, rename it to discloud.config ###
################################################################

#################################################################################################################
### Attention: You can adjust the RAM according to the contracted plan (or desired amount).                   ###
### If you use a paid plan that provides a minimum of 512MB + 0.5vcpu, it's recommended to edit the .env file ###
### and changing the value of AUTO_DOWNLOAD_LAVALINK_SERVERLIST from true to false                            ###
###                                                                                                           ###
### If desired, you can also change the NAME and AVATAR link.                                                 ###
#################################################################################################################

ID=1234567890
NAME=Muse Heart Music Source
AVATAR=https://cdn.discordapp.com/avatars/784891594306093101/0c48b24db5f6d01d0cf5242ef9badd97.png
TYPE=bot
MAIN=main.py
RAM=100
AUTORESTART=false
VERSION=latest
APT=tools
