###################################################################
### Note: If you use this file, rename it to squarecloud.config ###
###################################################################

#################################################################################################################
### Attention: You can adjust the RAM according to the contracted plan (or desired amount).                   ###
### If you use a paid plan that provides a minimum of 512MB + 0.5vcpu, it's recommended to edit the .env file ###
### and changing the value of AUTO_DOWNLOAD_LAVALINK_SERVERLIST from true to false                            ###
###                                                                                                           ###
### If desired, you can also change the DISPLAY_NAME, DESCRIPTION, and AVATAR link.                           ###
#################################################################################################################


DISPLAY_NAME=Muse Heart Music Source
DESCRIPTION=Music bot created by: xritsu [DC ID: 184889853102653440] source link: https://github.com/zRitsu/MuseHeart-MusicBot
MAIN=main.py
MEMORY=128
VERSION=recommended
AVATAR=https://cdn.discordapp.com/avatars/784891594306093101/0c48b24db5f6d01d0cf5242ef9badd97.png
